{% extends "base.html" %}

{% block main %}
<div class="container mt-4">
    <h2>新規投稿</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">投稿する</button>
    </form>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var prefectureDropdown = document.getElementById('id_prefecture');
    var cityDropdown = document.getElementById('id_city');

    function updateCityChoices(prefectureId) {
        var citiesDropdown = document.getElementById('id_city');
        citiesDropdown.innerHTML = '';

        if (prefectureId) {
            var url = `/boards/get_cities/?prefecture_id=${prefectureId}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    data.cities.forEach(city => {
                        var option = document.createElement('option');
                        option.value = city.id;
                        option.textContent = city.city_name;
                        citiesDropdown.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        }
    }

    prefectureDropdown.addEventListener('change', function () {
        var selectedPrefectureId = this.value;
        updateCityChoices(selectedPrefectureId);
    });

    updateCityChoices(prefectureDropdown.value);
});
</script>{% endblock %}
