{% extends "base.html" %}

{% block main %}
<div class="container mt-4">
    <h2>新規投稿</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">投稿する</button>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var prefectureDropdown = document.getElementById('id_prefecture'); // 都道府県ドロップダウンのID
        var cityDropdown = document.getElementById('id_city'); // 市ドロップダウンのID

        // 都道府県ドロップダウンの変更イベントを設定
        prefectureDropdown.addEventListener('change', function () {
            updateCityChoices(this.value);
        });

        // ページ読み込み時に現在選択されている都道府県に基づいて市のリストを更新
        updateCityChoices(prefectureDropdown.value);
    });

    function updateCityChoices(prefectureId) {
        var citiesDropdown = document.getElementById('id_city');
        citiesDropdown.innerHTML = ''; // 市のドロップダウンをクリア

        if (prefectureId) {
            var url = `/boards/fetch_cities_by_prefecture/?prefecture_id=${prefectureId}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.cities) {
                        data.cities.forEach(city => {
                            var option = document.createElement('option');
                            option.value = city.id;
                            option.textContent = city.city_name;
                            citiesDropdown.appendChild(option);
                        });
                    } else if (data.error) {
                        console.error('Error:', data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    }
</script>
{% endblock %}
