{% extends "base.html" %}
{% block title %}新規投稿{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col offset-3">  
            <h3>新しい投稿を作成</h3>
            <form action="{% url 'boards:post' school_id=view.kwargs.school_id city_id=view.kwargs.city_id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="投稿する">
                <br>
                <a href="{% url 'boards:post_list' %}">投稿一覧に戻る</a>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var prefectureDropdown = document.getElementById('id_prefecture'); // 都道府県ドロップダウンのID
        var cityDropdown = document.getElementById('id_city'); // 市ドロップダウンのID

        // 都道府県ドロップダウンの変更イベントを設定
        prefectureDropdown.addEventListener('change', function () {
            updateCityChoices(this.value);
        });

        // ページ読み込み時に現在選択されている都道府県に基づいて市のリストを更新
        updateCityChoices(prefectureDropdown.value);
    });

    function updateCityChoices(prefectureId) {
        var citiesDropdown = document.getElementById('id_city');
        citiesDropdown.innerHTML = ''; // 市のドロップダウンをクリア

        if (prefectureId) {
            var url = `/boards/fetch_cities_by_prefecture/?prefecture_id=${prefectureId}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.cities) {
                        data.cities.forEach(city => {
                            var option = document.createElement('option');
                            option.value = city.id;
                            option.textContent = city.city_name;
                            citiesDropdown.appendChild(option);
                        });
                    } else if (data.error) {
                        console.error('Error:', data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    }
</script>
{% endblock %}
