{% block title %}レビューランキング{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col py-4">
            <h1>レビューランキング</h1>
            <p>投稿の中から「★」が高い順の高校を閲覧できます</p>
            <ul>
                {% for post in top_ranked_posts %}
                    <li>
                        <a href="{% url 'boards:post_detail' post.id %}">{{ post.title }}</a>
                        - 評価: {% if post.score.value == 1 %}
                            ★
                        {% elif post.score.value == 2 %}
                            ★★
                        {% elif post.score.value == 3 %}
                            ★★★
                        {% elif post.score.value == 4 %}
                            ★★★★
                        {% elif post.score.value == 5 %}
                            ★★★★★
                        {% endif %}
                    </li>
                {% empty %}
                    <p>ランキング情報がありません。</p>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
