{% extends "base.html" %}
{% block title %}<title>学校一覧</title>{% endblock %}
{% block main %}
<div style="text-align:center; height:6rem;">
    <h2>学校一覧</h2>
</div>
{% if schools %}
<style>
    table {
        border-collapse: collapse;
        width: 70%;
        background-color: #fff;
        margin: auto;
    }
    th, td {
        border: 1px solid #ddd;
        text-align: center;
        padding: 8px;
        white-space: nowrap;
    }
</style>
<table border="1">
    <thead>
        <tr>
            <th>都道府県</th>
            <th>学校名</th>
            <th>偏差値</th>
        </tr>
    </thead>
    <tbody>
        {% for school in schools %}
        <tr>
            <td>{{ school.prefecture.prefecture_name }}</td>
            <td><a href="{% url 'boards:school_detail' school.id %}">{{ school.school_name }}</a></td>
            <td>
                {% if school.deviation_values.all %}
                {% for deviation_value in school.deviation_values.all %}
                {{ deviation_value.get_value_display }}
                {% if not forloop.last %}、{% endif %}
                {% endfor %}
                {% else %}
                偏差値情報なし
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>該当する学校はありません。</p>
<br>
{% endif %}
<br>
<a href="{% url 'boards:post_list' %}">投稿一覧に戻る</a>
{% endblock %}
