{% extends "base.html" %}
{% load static %}
{% block title %}学校一覧{% endblock %}
{% block main %}
<div style="text-align:center; height:6rem;">
    <h2>学校一覧</h2>
</div>
{% if schools %}
<style>
    table {
        border-collapse: collapse;
        width: 70%;
        background-color: #fff;
        margin: auto;
    }
    th, td {
        border: 1px solid #ddd;
        text-align: center;
        padding: 8px;
        white-space: nowrap;
    }
</style>
<div style="text-align:center;">
    <h5>フィルター</h5>
    <form method="get" action="{% url 'boards:school_list' %}">
       <label for="prefecture">都道府県:</label>
        <select id="prefecture" name="prefecture">
            <option value="愛知">愛知</option>
            <option value="岐阜">岐阜</option>
            <option value="三重">三重</option>
        </select>

        <!-- 市の選択肢を表示するための要素 -->
        <div id="city-dropdown">
            <label for="city">市区町村:</label>
            <select id="city" name="city">
                <option value="">選択してください</option>
            </select>
        </div>

        <label for="deviation_value">偏差値:</label>
        <select id="deviation_value" name="deviation_value">
            <option value="1">35~45</option>
            <option value="2">46~55</option>
            <option value="3">56~65</option>
            <option value="4">66以上</option>
        </select>
        <button type="submit">フィルターで絞り込む</button>
    </form>
</div>
<table border="1">
    <thead>
        <tr>
            <th>都道府県</th>
            <th>市名</th>
            <th>学校名</th>
            <th>偏差値</th>
        </tr>
    </thead>
    <tbody>
        {% for school in schools %}
        <tr>
            <td>{{ school.prefecture.prefecture_name }}</td>
            <td>{% if school.city.all %}
                {% for city in school.city.all %}
                {{ city.city_name }}
                {% if not forloop.last %}、{% endif %}
                {% endfor %}
                {% else %}
                No City
                {% endif %}</td>
            <td><a href="{% url 'boards:school_detail' school.id %}">{{ school.school_name }}</a></td>
            <td>
                {% if school.deviation_values.all %}
                {% for deviation_value in school.deviation_values.all %}
                {{ deviation_value.get_value_display }}
                {% if not forloop.last %}、{% endif %}
                {% endfor %}
                {% else %}
                偏差値情報なし
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>該当する学校はありません。</p>
<br>
{% endif %}
<br>
<a href="{% url 'boards:search_school' %}">学校検索画面に戻る</a>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var urlParams = new URLSearchParams(window.location.search);
        var initialPrefecture = urlParams.get('prefecture') || '愛知'; // URLから都道府県を取得
        var initialCity = urlParams.get('city'); // URLから市を取得

        var prefectureSelect = document.getElementById('prefecture');
        var cityDropdown = document.getElementById('city');

        prefectureSelect.value = initialPrefecture; // 都道府県セレクトボックスを設定
        loadCities(initialPrefecture, initialCity); // 都道府県に基づいて市をロード

        prefectureSelect.addEventListener('change', function() {
            loadCities(this.value);
        });

        function loadCities(prefectureName, selectedCity) {
            fetch(`/boards/get_cities/?prefecture_name=${prefectureName}`)
                .then(response => response.json())
                .then(data => {
                    cityDropdown.innerHTML = '<option value="">選択してください</option>';
                    data.cities.forEach(function(city) {
                        var option = document.createElement('option');
                        option.value = city.id;
                        option.textContent = city.city_name;
                        if (String(city.id) === selectedCity) { // 市のIDを文字列に変換して比較
                            option.selected = true;
                        }
                        cityDropdown.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        }
    });
</script>
{% endblock %}

