{% extends "base.html" %}
{% block title %}学校検索{% endblock %}
{% block main %}
<div class="container">
        <!-- 行を配置 -->
        <div class="row">
          <!-- 列の左右に余白offset-3を入れる -->
          <div class="col offset-3">
    <h3>学校検索</h3>
   <br>
    <form method="get" action="{% url 'boards:school_list' %}">
        <label for="prefecture">都道府県:</label>
        <select id="prefecture" name="prefecture">
            <option value="愛知">愛知</option>
            <option value="岐阜">岐阜</option>
            <option value="三重">三重</option>
        </select>
        
        <label for="deviation_value">偏差値:</label>
        <select id="deviation_value" name="deviation_value">
            <option value="1">35~45</option>
            <option value="2">46~55</option>
            <option value="3">56~65</option>
            <option value="4">66以上</option>
        </select>
        <button type="submit">検索</button>
    </form>
  </div>
  </div>
  </div>
   
{% endblock %}
