{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}

{% block main %}
<hr>
<div class="contener">
<div class="row">
<div class="col offset-2">
<h3>登録画面</h3>
<p><a href="{% url 'accounts:login' %}">ログインはこちら</a></p>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
{% for field in form %}
<p>
{{ field.label_tag }}<br>

{{ field }}

{% if field.help_text %}
<small style="color: gray">{{ field.help_text }}</small>
{% endif %}
{% for error in field.errors %}
<p style="color: red">{{ error }}</p>
{% endfor %}
</p>
{% endfor %}
<p style="color: red">メールアドレスはパスワードをリセットする場合に必要になりますので、登録をお願いいたします。</p>
<input type="submit" value="Sign up">
</form>
<br><br>
<p><a href="{% url 'boards:index' %}">登録をやめてHOMEに戻る</a></p>
</div>
</div>
</div>
{% endblock %}