{% extends 'base.html' %}
{% block title %}投稿削除{% endblock %}

      {% block main %}
      <br>
      <div class="container">
        <div class="row">
          <div class="col offset-3">
            <form method="POST">
              <br>
              <p>削除してもいいですか?</p>
              {% csrf_token %}
              <button class="btn btn-primary my-2"
                      type="submit">削除</button>
              <a href="{% url 'boards:post_delete' object.pk %}"
                 class="btn btn-secondary my-2">キャンセル</a>
          </div>
        </div>
      </div>
      {% endblock %}